.header
  = render 'olde/header'
.main
  %h2
    -if @user.image.present?
      =link_to @user.image.url, 'data-lightbox': @user.image do
        =image_tag @user.image.url, class:"user-image"
    -else
      =icon("far","user-circle")
    %p
      =@name
  %h2
    =icon("fas","heart")
    Bookmark
  -# .main__search-bookmark
  -#   = form_with method: :get, local: true do |f|
  -#     = f.text_field :keyword, class:'search-form__bookmark', placeholder:'What are your interests?'
  -#     = f.submit "Search", class: "search-bookmark-btn"
  -#     #search-result-bookmark
  .main__images-box
    - @bookmark_photos.each do |photo|
      .image-box
        %figure
          =link_to photo_path(photo.id) do
            = image_tag photo.image.url(:thumb), class: 'image-box-image',data:{id: photo.id},width:"240px",height:"200px"

.footer
  =render "olde/footer"