.header__to-menu
  .to-index
    = link_to root_path do
      =icon("fas","home")
      Ye Olde
  .hashtags-map-top
    =link_to olde_maplist_path do
      =icon("fas","globe-americas")
      Map
= render "olde/user-menu"