.header__to-menu
  .to-index
    = link_to root_path do
      =icon("fas","home")
      Ye Olde
  .hashtags-map-top
    =link_to olde_map_path do
      =icon("fas","globe-americas")
      Map
.header__drop-menu
  .drop-btn
    =icon("fas","bars")
  %ul.drop-down
    %li.back-btn
      =icon("fas","times")
    %li.new-post
      = link_to new_photo_path do
        =icon("fas","feather-alt")
        To Post
    %li.user-name
      =link_to user_path(current_user) do
        =icon("far","user-circle")
        =current_user.name
    %li.edit-btn
      =link_to edit_user_path(current_user) do
        =icon("fas","user-edit")
        Edit user
    %li.sign-out
      =link_to  destroy_user_session_path,method: :delete do
        =icon("fas","sign-out-alt")
        Sign out