.header__to-menu
  .to-index
    = link_to root_path do
      =icon("fas","home")
      Ye Olde
  =render 'olde/search'
  .hashtags-map
    =link_to olde_maplist_path do
      =icon("fas","globe-americas")
      Map
-if user_signed_in?
  = render "olde/user-menu"