.drop-btn
  =icon("fas","bars")
.header__drop-menu
  %ul.drop-down
    %li.back-btn
      =icon("fas","times")
    %li.user-name
      =link_to user_path(current_user) do
        -if current_user.image.present?
          =image_tag current_user.image.url, class:"user-image"
        -else
          =icon("far","user-circle")
        =current_user.name
    %li.new-post
      = link_to new_photo_path do
        =icon("fas","feather-alt")
        To Post
    %li.usr-bookmark
      = link_to user_bookmarks_path(current_user) do
        =icon("far","heart")
        Bookmark
    %li.edit-btn
      =link_to edit_user_path(current_user) do
        =icon("fas","user-edit")
        Edit user
    %li.sign-out
      =link_to  destroy_user_session_path,method: :delete do
        =icon("fas","sign-out-alt")
        Sign out
    %li.user-search
      = form_with method: :get, local: true do |f|
        = f.text_field :keyword, class:'search-form-user', placeholder:'looking for friends?'
        #search-result-user
