.header
  %ul.header__user-edit
    %li.user-name
      =current_user.name
    %li.edit-btn
      =link_to edit_user_path(current_user) do
        =icon("fas","user-edit")
        Edit user
    %li.sign-out
      =link_to  destroy_user_session_path,method: :delete do
        =icon("fas","sign-out-alt")
        Sign out
.main
  .main__back-image
    = image_tag "vintage-1659117_1920.jpg", :alt =>"background",class: "back__image"
    = image_tag "map-2831458_1280.png", :alt =>"map-image",class: "map__image"
.footer