.header
  = render 'olde/header'
.main
  .main__hashtag-map
    = image_tag "vintage-1659117_1920.jpg", :alt =>"background",class: "back__image",width:"1280",height:"643"
    = image_tag "map-2831458_1280.png", :alt =>"map-image",class: "map__image",usemap:"#worldmap",width:"1280",height:"643"
    %map.world-map{:name =>"worldmap"}
      %area(shape="poly" coords="1093,136,1112,180,1073,247,1047,234,1048,230,1048,230" href="/hashtags/japan" alt="Japan")
      %area(shape="poly" coords="1264,541,1244,579,1272,594,1280,562,1280,566" href="/hashtags/newzealand" alt="New Zealand")/
      %area(shape="poly" coords="1178,555,1005,528,1031,404,1205,430,1192,506" href="/hashtags/australia" alt="Australia")/
      %area(shape="poly" coords="1021,324,1032,376,994,375,980,349,980,349" href="/hashtags/philippine" alt="Philippine")/
      %area(shape="poly" coords="988,396,978,397,924,339,945,327,994,386,994,386" href="/hashtags/indonasia" alt="indonasia")/
      %area(shape="poly" coords="780,410,767,493,736,491,745,419,750,419" href="/hashtags/madagascar" alt="Madagascar")/
      %area(shape="poly" coords="1033,221,1050,214,1046,200,1025,207,1025,207" href="/hashtags/korea" alt="Korea")/
      %area(shape="poly" coords="1012,192,1024,203,1045,196,1045,183,1045,183" href="/hashtags/northkorea" alt="North Korea")/
      %area(shape="poly" coords="821,158,839,184,953,173,963,134,933,140" href="/hashtags/mongol" alt="Mongol")/
      %area(shape="poly" coords="835,263,859,320,887,319,885,273,867,244,867,244" href="/hashtags/india" alt="India")/
      %area(shape="poly" coords="1132,159,1218,96,1186,59,1040,45,683,74,696,155,719,191,788,146,963,122,1037,116,1094,127,1114,141" href="/hashtags/russia" alt="Russia")/
      %area(shape="poly" coords="1072,131,1059,180,1004,190,1005,262,916,267,853,235,839,193,956,178,975,127,975,127" href="/hashtags/china" alt="China")/
      %area(shape="poly" coords="832,181,796,153,728,194,748,222,815,215,815,216" href="/hashtags/kazakhstan" alt="Kazakhstan")/
      %area(shape="poly" coords="759,227,798,250,816,233,808,217,808,217" href="/hashtags/iran" alt="Iran")/
      %area(shape="poly" coords="703,230,750,239,786,257,743,292,741,293" href="/hashtags/saudiarabia" alt="Saudi Arabia")/
      %area(shape="poly" coords="680,198,715,189,729,200,703,217,703,217" href="/hashtags/turkey" alt="Turkey")/
      %area(shape="poly" coords="337,44,374,59,403,111,508,64,521,25,486,1,384,15,384,15" href="/hashtags/greenland" alt="Greenland")/
      %area(shape="poly" coords="106,79,105,129,145,180,349,186,403,157,372,87,303,61,214,59,150,55,150,55" href="/hashtags/canada" alt="Canada")/
      %area(shape="poly" coords="142,184,324,190,287,279,225,264,154,221,154,221" href="/hashtags/usa" alt="USA")/
      %area(shape="poly" coords="156,228,247,273,267,304,223,312,223,312" href="/hashtags/mexico" alt="Mexico")/
      %area(shape="poly" coords="382,345,327,350,308,404,347,460,359,528,416,469,449,394,449,394" href="/hashtags/brasil" alt="Brasil")/
      %area(shape="poly" coords="301,614,286,607,317,457,343,464,352,530,352,530" href="/hashtags/argentine" alt="Argentine")/
      %area(shape="poly" coords="317,620,258,635,262,597,254,604,288,449,304,464,277,613,277,613" href="/hashtags/chile" alt="Chile")/
      %area(shape="poly" coords="323,431,314,448,340,460,340,460" href="/hashtags/paraguay" alt="Paraguay")/
      %area(shape="poly" coords="317,424,304,450,289,446,302,403,302,403" href="/hashtags/bolivia" alt="Bolivia")/
      %area(shape="poly" coords="285,426,308,384,275,374,268,399,268,399" href="/hashtags/pelu" alt="Pelu")/
      %area(shape="poly" coords="284,356,294,373,275,370,275,370" href="/hashtags/ecuador" alt="Ecuador")/
      %area(shape="poly" coords="286,351,310,375,318,355,304,309,285,331,285,331" href="/hashtags/columbia" alt="Colombia")/
      %area(shape="poly" coords="320,314,324,341,371,340,371,340" href="/hashtags/venezuela" alt="Venezuela")/
      %area(shape="poly" coords="578,145,588,140,570,118,559,119,566,144,566,144" href="/hashtgs/uk" alt="UK")/
      %area(shape="poly" coords="549,194,556,202,552,209,546,197,546,197" href="/hashtags/portugal" alt="Portugal")/
      %area(shape="poly" coords="565,163,568,180,586,171,583,147,583,147" href="/hashtags/france" alt="France")/
      %area(shape="poly" coords="548,189,565,179,579,194,566,210,564,208" href="/hashtags/spain" alt="Spain")/
      %area(shape="poly" coords="595,142,621,153,626,143,620,128,620,128" href="/hashtags/germany" alt="Germany")/
      %area(shape="poly" coords="602,170,637,171,638,202,638,202" href="/hashtags/italy" alt="Italy")/
      %area(shape="poly" coords="544,221,691,240,769,335,668,526,519,296,519,296" href="/hashtags/africa" alt="Africa")


.footer
