.header
  = render 'olde/header'
.main
  .main__photos
    %h2
      = @name
    .main__images-box
      - @photos.each do |photo|
        .image-box
          %figure
            =link_to photo_path(photo.id) do
              = image_tag photo.image.url(:thumb), class: 'image-box-image',width:"240px",height:"200px"

  = paginate @photos

.footer