.header
  = render 'olde/header'
.main
  .main__hashtag-map
    = image_tag "vintage-1659117_1920.jpg", :alt =>"background",class: "back__image"
    = image_tag "map-2831458_1280.png", :alt =>"map-image",class: "map__image"
    %ul.worldmap
      %li.japan
.footer