.header
  = render 'olde/header'
.main
  -if @hashtag.hashname == 0
    %p No List
  - else
    %h2
      =icon("fas","hashtag")
      = @hashtag.hashname
    .main__images-box
      - @photos.each do |photo|
        .image-box
          %figure
            =link_to photo_path(photo.id) do
              = image_tag photo.image.url(:thumb), class: 'image-box-image',data:{id: photo.id},width:"240px",height:"200px"

  = paginate @photos

.footer