.Notification {
  .notice {
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: fantasy;
  }

  .alert {
    background-color: rgba(188, 8, 50, 0.468);
    color: #fff;
    text-align: center;
    font-family: fantasy;
  }
}