.header{
  height: 50px;
  background-color: black;
  &__user-edit{
    display: flex;
    justify-content: flex-end;
    li{
      text-decoration: none;
      color: white;
      padding: 10px;
      a{
        text-decoration: none;
        color: white;
        font-size: 20px;
      }
    }
  }
}

.main{
  height: calc(100vh - 80px);
  background-color: blanchedalmond;
  &__back-image{
    display: flex;
    position: relative;
    img{
      height: calc(100vh - 80px);
      width: 100vw;
      position: absolute;
    }
  }
}

.footer{
  height: 30px;
  background-color: black;
}