*{
  box-sizing: border-box;
}

.header{
  background-color: black;
  height: 80px;
  &__user-in{
    display:flex;
    justify-content: space-around;
    padding-top: 10px;
    .user-plus, .sign-in, .user-start{
      a{
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    }
  }
}

.main-top{
  height: calc(100vh - 80px);
  position: relative;
  &__image{
    width: 100%;
    height: 100%;
  }
  &__title{
    position:absolute;
    top:5%;
    left: 46vw;
    font-family: fantasy;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  &__sub-content{
    position: absolute;
    top: calc(75%);
    left: 33vw;
    font-family: fantasy;
    font-size: 36px;
    color: #ffffff;
  }
  .top-search-form{
    position: absolute;
    top: 20%;
    left: 43vw;
  }
}

.footer{
  background-color: black;
  height: 30px;
}