- @photos.each do |photo|
  .photo-frame
    .photo-frame__photo-info
      .user-name
        = photo.user.name
      .created-at
        = l photo.created_at
      .more
        %ul.more-list
          %li.commented-form
            =link_to photo_path(photo.id) do
              Show
    = image_tag photo.image.url, class: 'photo-frame__image'
    %p.photo-frame__content
      = render_with_hashtags(photo.content)
